* {
    box-sizing: border-box;
}

body, div, ul, li, a, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

label, .sidebar__nav {
    user-select: none;
}

.container {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 100%;
    }
}

body {
    --bg-color: #fff;
    --sidebar-color: color-mix(in srgb, #000 25%, #fff);
    --dark-color: #222;
    --fb-color: #003366;
    --wood: #8B5E3C; 
    background-color: var(--bg-color);
    font-family: Montserrat;
    display: flex;
    flex-flow: row nowrap;
}

/*  SIDEBAR STYLES  */

.sidebar {
    background-color: var(--sidebar-color);
    position: fixed;
    height: 100dvh;
    width: clamp(220px, 20dvw, 300px);
    font-size: clamp(1rem, 2.2vw, 3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 30px 0px;
}

.sidebar__nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar__nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60dvh;
    width: 100%;
}

.sidebar__item-link {
    list-style: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .9rem;
    padding-right: 6px;
    color: var(--dark-color);
    position: relative;
    transition: border-radius .4s;
}

.sidebar__item-link:hover {
    background-color: var(--bg-color);
    border-radius: 36px 0 0 36px;
}

.sidebar__item-link::before, .sidebar__item-link::after {
    content: '';
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
    transition: border-radius .4s;
}

.sidebar__item-link:hover::before {
    top: -18px;
    border-bottom-right-radius: 25px;
    box-shadow: 4px 4px 0 4px var(--bg-color);
}

.sidebar__item-link:hover::after {
    bottom: -18px;
    border-top-right-radius: 25px;
    box-shadow: 4px -4px 0 4px var(--bg-color);
}

.sidebar__item-link > span {
    padding: 12px;
    font-size: 2rem;
}

.sidebar__item-link {
    color: inherit;
    text-decoration: none;
}

.sidebar__profile img { 
    border-radius: 50%;
    width: 2rem;
}

.item--profile .profile-option {
    font-size: 1.15rem;
    text-transform: none;
    letter-spacing: .8px;
}

.item--profile {
    width: 100%;
    padding: 7.5px;
    padding-left: 12px;
    padding-right: 0;
}

.item--profile:hover img {
    opacity: .7;
}

.sidebar__form {
    position: absolute;
    z-index: 20;
    right: -1rem;
    top: 1rem;
}

.open-menu {
    transition: background-color .2s;
}

.close-menu {
    transition: font-weight .2s, color .2s;
}

input[type="checkbox"], .open-menu {
    display: none;
}

.sidebar__form label {
    position: relative;
    background-color: var(--fb-color);
    color: var(--sidebar-color);
    font-size: 2rem;
    border-radius: 50%;
    padding: .4rem;
}

.sidebar__form label::before, .sidebar__form label::after {
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: 10px;
    height: 25px;
    background-color: transparent;
}

.sideba__formr label::before {
    top: -25px;
    left: 19px;
    border-bottom-right-radius: 25px;
    box-shadow: 4px 4px 0 4px var(--fb-color);
}

.sidebar__form label::after {
    bottom: -25px;
    left: 19px;
    border-top-right-radius: 25px;
    box-shadow: 4px -4px 0 4px var(--fb-color);
}

.sidebar:has(input[type="checkbox"]:checked) .close-menu {
    display: none;
}

.sidebar:has(input[type="checkbox"]:checked) .open-menu {
    display: block;
} 

input[type="checkbox"]:checked ~ label {
    color: var(--fb-color);
    background-color: var(--sidebar-color);
}

.sidebar:has(input[type="checkbox"]:checked) :is(.sidebar__form) {
    right: 6px;
}

input[type="checkbox"]:checked ~ label::before, input[type="checkbox"]:checked ~ label::after {
    display: none;
}

.sidebar:has(input[type="checkbox"]:checked) {
    width: fit-content;
}


.sidebar:has(input[type="checkbox"]:checked) :is(.sidebar__item-link > p, .profile-option) {
    display: none;
}

.open-menu:hover, .close-menu {
    cursor: pointer;
}

.sidebar__form > .open-menu:hover {
    background-color: var(--bg-color);
}

.sidebar__form > .close-menu:hover {
    color: var(--bg-color);
    font-weight: bold;
}


/*  MAIN STYLES  */

main {
    height: 100dvh;
    width: clamp(calc(100dvw - 300px), 80dvw, calc(100dvw - 220px));
    background-color: var(--bg-color);
    position: fixed;
    right: 0;
}

aside:has(input[type="checkbox"]:checked) ~ main {
    width: calc(100dvw - 62px);
}

.filter-bar {
    width: 100%;
    height: calc(2rem + 44.78px);
    background-color: var(--fb-color);
    container-name: filter-bar;
}

.filter-bar__filter-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.filter-bar__filter-container  > div, .filter-bar__filter-container > input  {
    color: var(--bg-color);
    display: grid;
    place-content: center;
}

.filter-bar__filter-container > input {
    background-color: transparent;
    border: none;
}

.filter-bar__filter-container > input:hover {
    color: #D2B48C;
}

.filter-bar__z-a {
    transform: rotate(180deg);
}

.filter-bar__filter-container > .filter-bar__name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-bar__name > input {
    height: auto;
}

.filter-bar__name > input[type="text"] {
    width: 80%;
    outline: none;
}

.filter-bar__name > input[type="submit"] {
    width: 20%;
}

.filter-bar__filter-container > .filter-bar__logo-container {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: .75rem;
}

.logo {
    height: clamp(15px, calc(10dvh - 5px), 75px);
    width: clamp(42px, calc(28dvh - 5px), 210px);
    margin: 2.5px 0;
}
 
.close-formSubuser, .close-formCandidate {
    position: absolute;
    top: calc(calc(2rem + 44.78px) + 10px);
    margin-left: 15px;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bolder;
    cursor: pointer;
    transition: filter .3s;
}

.close-formSubuser:hover, .close-.close-formCandidate {
    filter: drop-shadow(0 0 5px #fff);
}

.create-subuser, .create-candidate{
    display: none;
}

#create-subuser:checked ~ .create-subuser, #create-candidate:checked ~ .create-candidate {
    display: flex;
}

.subusers-link__container{
    position: absolute;
}

.forms-container form {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 82.5dvh;
    width: 50%;
    padding: 0 40px;
    border-radius: 20px;
    margin: calc(calc(calc(100dvh - calc(2rem + 44.78px)) - 50dvh) / 2) 25%;
    margin-top: calc(calc(calc(100dvh - calc(2rem + 44.78px)) - 82.5dvh) / 2);
    background-color: var(--sidebar-color);
}

.forms-container input[type="submit"], .forms-container input[type="button"] {
    background-color: var(--fb-color);
    color: #fff;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: box-shadow .3s;
    outline: none;
}

.forms-container input[type="submit"]:hover, .forms-container input[type="button"]:hover {
    box-shadow: 7px 7px 0px rgb(100, 166, 231),
                -7px -7px 0px #335a94;
}

.forms-container form input, form select, textarea {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    font-family: inherit;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

form select {
    cursor: pointer;
}

textarea {
    height: 30dvh;
    resize: none;
}

.forms-container form input:focus, form select:focus, textarea:focus {
    outline: var(--wood) 1px solid;
}

.forms-container form a {
    color: #333;
    text-decoration: none;
    margin-top: 45px;
    font-size: .9rem;
}

.forms-container form a:hover {
    text-decoration: underline;
}

.forms-container form > div, .forms-container form > button {
    width: 100%;
}

.errorlist {
    list-style: none;
}

.errorlist li {
    color: #e24;
    font-size: .9rem;
}

dialog {
    border: none;
    border-radius: 20px;
    padding: 25px 40px;
}

dialog label.material-symbols-outlined {
    position: absolute;
    top: 5px;
    right: 7px;
    color: var(--fb-color);
    background-color: transparent;
    border: none;
    font-size: 1.5rem; 
    cursor: pointer;
}

dialog p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

dialog div {
    display: flex;
    gap: 15px;
}

dialog button {
    background-color: var(--fb-color);
    color: #fff;
    width: 50px;
    padding-top: 3.5px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: inherit;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s, color .2s, font-weight .2s, outline .2s; 
}

dialog button:hover {
    outline: var(--wood) 1px solid;
    color: var(--fb-color);
    background-color: var(--bg-color);
    font-weight: 600;
    box-shadow: var(--wood) 0 0 5px;
}



.subusers-table__container {
    width: 96%;
    height: auto;
    max-height: calc(100% - calc(2rem + 44.78px) - 4.2rem);
    overflow-y: auto;
    padding: 2px;
    margin: 1.8% 2%;
    background-color: var(--fb-color);
}

.subusers-table {
    width: 100%;
}

.subusers-table td, .subusers-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.subusers-table tr {
    background-color: #fff;
    transition: background-color 0.1s;
}

.subusers-table tr:hover {
    background-color: #888;
    cursor: pointer;
}

.subusers-table tr:first-child:hover {
    background-color: #fff;
    cursor: default;
}

td:first-child {
    text-align: center;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .sidebar__form, .filter-bar__filter-container > .filter-bar__logo-container {
        display: none;
    }
    
    td:last-child, th:last-child {
        display: none;
    }

    .forms-container form {
        width: 90%;
        margin-left: 5%;
        padding: 0 20px;
    }

    .forms-container form {
        height: 65dvh;
        margin-top: calc(calc(calc(100dvh - calc(2rem + 44.78px)) - 65dvh) / 2);
    } 

    .forms-container form input, form select {
        margin: 3% 0;
    }

    .forms-container form div {
        margin: 1% 0;
    }

    .close-formSubuser, .close-.close-formCandidate {
        position: absolute;
        top: calc(calc(2rem + 44.78px) + 10px);
        margin-left: 5%;
        font-size: 2rem;
    }

    textarea {
        height: 25dvh;
    }
}

@media (max-height: 840px) and (max-width: 1024px) {

    .forms-container form {
        height: 80dvh;
        margin-top: calc(calc(calc(100dvh - calc(2rem + 44.78px)) - 75dvh) / 2);
    } 
}

@media (min-height: 1024px) and (max-width: 1024px) {
    .forms-container form{
        width: 70%;
        margin-left: 15%;
        height: 60dvh;
        margin-top: calc(calc(calc(100dvh - calc(2rem + 44.78px)) - 60dvh) / 2);
    }

    textarea {
        height: 20dvh;
    }
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .logo {
        display: none;
    }

    .filter-bar__filter-container > .filter-bar__z-a , .filter-bar__filter-container > .filter-bar__a-z, .filter-bar__filter-container > .filter-bar__logo-container {
        display: none;
    }

    .sidebar__form {
        display: none;
    }
}
