body {
  background-color: #f1f5f9;
}
body {
    overflow-x: hidden;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
} 

.navbar-brand__logo {
    max-height: 10vh;
}

.navbar-brand > p {
    margin: 0;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 1vw;
}

.nav-item {
    margin: 0 3vw;
}

.carousel-caption h5 {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.5rem;
  border-radius: 6px;
}
.candidate-card {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  height: 180px;
}
.candidate-img {
  width: 30%;
  object-fit: cover;
}
.candidate-info {
  padding: 1rem;
  width: 70%;
}
.personeria { background-color: #fde047; }
.contraloria { background-color: #93c5fd; }
footer {
  background-color: #dc2626;
  color: white;
}
.footer-bottom {
  background-color: #b91c1c;
  padding: 0.5rem;
  font-size: 0.9rem;
}
.social-icon {
  background: black;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 0.6rem;
  margin: 0 0.3rem;
}


.carousel-container {
    margin: 5vh 0;
}

.controls {
    z-index: 5;
}

.carousel-container > .row {
    justify-content: space-evenly;
}

.carousel-inner {
    max-height: 80vh;
}

.carousel-item {
    position: relative;
}

.item-text {
    width: 60%;
    padding: 1vh 1vw;
    position: absolute;
    color: #fff;
    font-size: 2rem;
    text-align: justify;
    top: 0;
    z-index: 3;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0006;
    z-index: 2;
}

@media(max-width: 768px) {
    .carousel-item .item-text {
      font-size: 1rem;
}
    .candidate-card {
      height: 17.5dvh;
    }
}

