{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{%static '/CSS/authenticateStyles.css'%}">
    <title>Comenzar</title>
    <link rel="icon" href="{%static '/IMAGES/LogoMini.webp'%}" type="image/webp">
    <meta name="description" content="Página inicio de sesión y registro Log Inventory">
    <meta name="keywords" content="iniciar sesión Log Inventory, Log Inventory, cuenta Log Inventory">
    <meta name="author" content="Log Inventory">
    <meta name="robots" content="index, follow">
</head> 
<body>
    <nav>
        <div class="home-link__container"> 
            <a title="Volver al home" class="home-link" href="{% url 'home' %}">
                <span class="material-symbols-outlined">arrow_back</span>
            </a>
        </div>
    </nav>
    <div class="container {{class}}">
        <div class="sign-up">
            {% include 'Users/signUp.html' %}
        </div>
        <div class="log-in">
            {% include 'Users/logIn.html' %}
        </div>
        <div class="toogle-container">
            <div class="toogle">
                <div class="toogle-panel toogle-left">
                    <h3>¡Bienvenido!</h3>
                    <p>Si ya tienes una cuenta</p>
                    <button class="hidden" id="login">Iniciar Sesión</button>
                </div>
                <div class="toogle-panel toogle-right">
                    <h3>¡Hola de nuevo!</h3>
                    <p>Si no tienes una cuenta</p>
                    <button class="hidden" id="register">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{%static '/SCRIPTS/authenticateScript.js'%}"></script>
</body>
</html>